body {
  background-color: rgb(11, 22, 37);
}
.form-toggle {
  float:right;
  color:#00B3A0;
  font-size:14px;
  line-height:24px;
}
.form-toggle:hover {
  cursor:pointer;
}
.footer-nav {
    list-style:none;
    width:100%;
    height:20%;
    position:relative;
    margin:0;
    padding:0;
    margin-top:100px;
    text-align:center; 
    .link {
      width:25%;
      float:left;
      border-left:1px solid #666666;
      border-right:1px solid #464646;
      &:first-child {
        border-left-width:0;
      }
      &:last-child {
        border-right-width:0;
      }
    }
  }

.loading {
  width:150px;
  height:150px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-75px;
  margin-left:-75px;
}

.loading .block {
  width:40px;
  height:40px;
  /*border:5px solid #fff;*/
  position:absolute;
}

.loading .block:nth-child(1) {
  animation: top-left 3s infinite;
  background-color:rgb(220, 0, 212) ;
}

.loading .block:nth-child(2) {
  animation: top-right 3s infinite;
  background-color:rgb(255, 221, 28) ;
}

.loading .block:nth-child(3) {
  animation: bottom-left 3s infinite;
  background-color:rgb(255, 100, 146);
}

.loading .block:nth-child(4) {
  animation: bottom-right 3s infinite;
  background-color:rgb(0, 173, 225) ;
}
@-webkit-keyframes top-left {
  0%  { left: 25px; top:25px; }
  25% { left: 75px; top:25px; transform: rotate(90deg) }
  50% { left: 75px; top: 75px; transform: rotate(180deg) }
  75% { left: 25px; top: 75px; transform: rotate(270deg) }
  100%  { left: 25px; top: 25px; transform: rotate(360deg) }
}
@-webkit-keyframes top-right {
  0% { left: 75px; top: 25px; }
  25% { left: 75px; top: 75px; }
  50% { left: 25px; top: 75px; }
  75%  { left: 25px; top: 25px; }
  100% { left: 75px; top: 25px; }
}
@-webkit-keyframes bottom-left {
  0% { left: 75px; top: 75px; }
  25% { left: 25px; top: 75px; transform: rotate(90deg) }
  50%  { left: 25px; top: 25px; transform: rotate(180deg) }
  75%  { left: 75px; top: 25px; transform: rotate(270deg) }
  100% { left: 75px; top: 75px; transform: rotate(360deg) }
} 
@-webkit-keyframes bottom-right {
  0% { left: 25px; top: 75px; }
  25%   { left: 25px; top: 25px; }
  50% { left: 75px; top: 25px; }
  75% { left: 75px; top: 75px; }
  100% { left: 25px; top: 75px; }
}
